[github page for ksu classifier](https://github.com/nimroha/ksu_classifier)

In [ ]:
!pip install ksu

Code
This package provides a class KSU(Xs, Ys, metric, [gram, prune, logLevel, n_jobs])

Xs and Ys are the data points and their respective labels as numpy arrays

metric is either a callable to compute the metric or a string that names one of our provided metrics (print KSU.METRICS.keys() for the full list)

gram (optional, default=None) a precomputed gramian matrix, will be calculated if not provided.

prune (optional, default=False) a boolean indicating whether to prune the compressed set or not (Algorithm 2 from Near-optimal sample compression for nearest neighbors)

logLevel (optional, default='CRITICAL') a string indicating the logging level (set to 'INFO' or 'DEBUG' to get more information)

n_jobs (optional, default=1) an integer defining how many cpus to use (scipy logic), pass -1 to use all. For n_jobs below -1, (n_cpus + 1 + n_jobs) are used. Thus for n_jobs = -2, all CPUs but one are used.


KSU provides a method compressData([delta, minCompress, maxCompress, greedy, stride, logLevel, numProcs])

Which selects the subset with the lowest estimated error with confidence 1 - delta. Can take arguments:

delta (optional, default=0.1) confidence for error upper bound

minCompress (optional, default=0.05) minimal compression ratio

maxCompress (optional, default=0.1) maximum compression ratio

greedy (optional, default=True) whether to use greedy or hierarichal strategy for net construction

stride (optional, default=200) how many gammas to skip between each iteration (since similar gammas will produce similar nets)

logLevel (optional, default='CRITICAL') a string indicating the logging level (set to 'INFO' or 'DEBUG' to get more information)

numProcs (optional, default=1) number of processes to use


You can then run getClassifier() which returns a 1-NN Classifer (based on sklearn's K-NN) fitted to the compressed data.

Or, run getCompressedSet() to get the compressed data as a tuple of numpy arrays (compressedXs, compressedYs).

In [ ]:
!git clone --depth=1 https://github.com/nimroha/ksu_classifier.git

Cloning into 'ksu_classifier'...
remote: Enumerating objects: 29, done.
remote: Counting objects: 100% (29/29), done.
remote: Compressing objects: 100% (27/27), done.
remote: Total 29 (delta 1), reused 13 (delta 0), pack-reused 0
Unpacking objects: 100% (29/29), done.

In [ ]:
!git clone https://github.com/porat-ah/Nearest-Neighbor-Condensing.git

Cloning into 'Nearest-Neighbor-Condensing'...
remote: Enumerating objects: 95, done.
remote: Counting objects: 100% (95/95), done.
remote: Compressing objects: 100% (69/69), done.
remote: Total 95 (delta 35), reused 79 (delta 23), pack-reused 0
Unpacking objects: 100% (95/95), done.

In [ ]:
import os

In [ ]:
os.chdir("Nearest-Neighbor-Condensing/")

In [ ]:
from NNC import NNC

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
import plotly.io as po
from sklearn.metrics import pairwise_distances
from sklearn.model_selection import train_test_split , cross_validate
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import VarianceThreshold
import math 
import ipaddress

# Data Importing

In [2]:
df_mal = pd.read_csv("https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-1/2013-10-01_capture-win12.netflow.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (5,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
links = [
         "https://mcfp.felk.cvut.cz/publicDatasets/CTU-Mixed-Capture-2/2015-09-08_mixed",
         "https://mcfp.felk.cvut.cz/publicDatasets/CTU-Mixed-Capture-3/2015-03-19_winnormal",
         "https://mcfp.felk.cvut.cz/publicDatasets/CTU-Mixed-Capture-4/2015-03-19_capture-win",
         "https://mcfp.felk.cvut.cz/publicDatasets/CTU-Mixed-Capture-5/2015-03-19_winnormal"
         ]

In [4]:
before = []
after = []
for l in links:
  after.append(pd.read_csv(l + ".binetflow.after.infection"))
  before.append(pd.read_csv(l + ".binetflow.before.infection"))

In [5]:
df_nor = pd.read_csv("https://mcfp.felk.cvut.cz/publicDatasets/CTU-Normal-5/2015-06-09_normal.binetflow")

In [6]:
df_nor_labeled = pd.read_csv("https://mcfp.felk.cvut.cz/publicDatasets/CTU-Normal-7/2013-12-17_capture1.binetflow.labeled")

In [7]:
df_nor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7769 entries, 0 to 7768
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StartTime  7769 non-null   object
 1   Dur        7769 non-null   float64
 2   Proto      7769 non-null   object
 3   SrcAddr    7769 non-null   object
 4   Sport      7739 non-null   object
 5   Dir        7769 non-null   object
 6   DstAddr    7769 non-null   object
 7   Dport      7726 non-null   object
 8   State      7769 non-null   object
 9   sTos       7750 non-null   float64
 10  dTos       6745 non-null   float64
 11  TotPkts    7769 non-null   int64
 12  TotBytes   7769 non-null   int64
 13  SrcBytes   7769 non-null   int64
 14  srcUdata   0 non-null      float64
 15  dstUdata   0 non-null      float64
 16  Label      0 non-null      float64
dtypes: float64(6), int64(3), object(8)
memory usage: 1.0+ MB

In [8]:
df_nor.head()

,StartTime,Dur,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,dTos,TotPkts,TotBytes,SrcBytes,srcUdata,dstUdata,Label
0,2015/06/09 12:59:56.523961,0.000000,udp,147.32.83.210,17500,->,255.255.255.255,17500,INT,0.0,NaN,1,220,220,NaN,NaN,NaN
1,2015/06/09 12:59:56.524168,0.000000,udp,147.32.83.210,17500,->,147.32.83.255,17500,INT,0.0,NaN,1,220,220,NaN,NaN,NaN
2,2015/06/09 13:00:00.000000,3596.359131,udp,147.32.83.210,17500,->,255.255.255.255,17500,INT,0.0,NaN,119,26180,26180,NaN,NaN,NaN
3,2015/06/09 13:00:00.000000,3596.359619,udp,147.32.83.210,17500,->,147.32.83.255,17500,INT,0.0,NaN,119,26180,26180,NaN,NaN,NaN
4,2015/06/09 13:00:35.127441,3501.334473,igmp,147.32.83.210,NaN,->,224.0.0.251,NaN,INT,192.0,NaN,17,1020,1020,NaN,NaN,NaN

# Data Preprocessing

In [9]:
dfs = after + before +[df_nor , df_nor_labeled , df_mal]

In [10]:
col_inter = set(df_nor.columns).intersection(*[set(df.columns) for df in dfs])

In [11]:
col_inter

{'Dir',
 'Dport',
 'DstAddr',
 'Dur',
 'Label',
 'Proto',
 'Sport',
 'SrcAddr',
 'StartTime',
 'State',
 'TotBytes',
 'TotPkts',
 'dTos',
 'sTos'}

In [12]:
for df in dfs:
  df.drop([c for c in df if not c in col_inter ], axis= 1, inplace = True )

In [13]:
before += [df_nor , df_nor_labeled ]
df_Normal = pd.concat(before)
df_Normal.insert(df_Normal.shape[1] , "Label_L1" , ["Normal" for _ in range(df_Normal.shape[0])])

In [14]:
df_Normal.head()

,StartTime,Dur,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,dTos,TotPkts,TotBytes,Label,Label_L1
0,1970/01/01 01:00:00.000000,0.000000,llc,00:00:00:00:00:00,0,->,00:00:00:00:00:00,0,INT,NaN,NaN,1,60,NaN,Normal
1,1970/01/01 01:00:13.986283,5.031661,udp,0.0.0.0,68,->,255.255.255.255,67,INT,0.0,NaN,3,1034,NaN,Normal
2,1970/01/01 01:00:13.986538,722.726135,udp,10.0.2.2,67,->,10.0.2.15,68,INT,16.0,NaN,10,5900,NaN,Normal
3,1970/01/01 01:00:18.746647,0.000000,arp,0.0.0.0,NaN,who,169.254.0.187,NaN,INT,NaN,NaN,1,42,NaN,Normal
4,1970/01/01 01:00:19.247379,2.002799,arp,0.0.0.0,NaN,who,10.0.2.15,NaN,INT,NaN,NaN,3,126,NaN,Normal

In [15]:
after += [df_mal]
df_Infected = pd.concat(after)
df_Infected.insert(df_Infected.shape[1] , "Label_L1" , ["Infected" for _ in range(df_Infected.shape[0])])

In [16]:
df_Infected.head()

,StartTime,Dur,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,dTos,TotPkts,TotBytes,Label,Label_L1
0,1970/01/03 00:01:12.533562,3599.932129,udp,10.0.2.15,34862,<->,213.199.179.155,40009,CON,0.0,0.0,4,723,NaN,Infected
1,1970/01/03 00:01:12.533694,0.162100,udp,10.0.2.15,34862,<->,64.4.23.155,40009,CON,0.0,0.0,2,149,NaN,Infected
2,1970/01/03 00:01:12.645036,3599.908447,udp,10.0.2.15,34862,<->,157.55.56.155,40009,CON,0.0,0.0,3,637,NaN,Infected
3,1970/01/03 00:01:12.802334,0.017858,udp,10.0.2.15,52201,<->,8.8.8.8,53,CON,0.0,0.0,2,156,NaN,Infected
4,1970/01/03 00:01:12.967362,32.908337,tcp,10.0.2.15,54211,->,188.165.164.184,80,SRPA_SPA,0.0,0.0,8,1077,NaN,Infected

In [17]:
df = pd.concat([df_Infected , df_Normal])

In [18]:
Labels = df.Label.copy()

In [19]:
df.reset_index(drop = True , inplace = True)
df.rename(columns = {'Label' : "Label_L2"}  , inplace = True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5460765 entries, 0 to 5460764
Data columns (total 15 columns):
 #   Column     Dtype
---  ------     -----
 0   StartTime  object
 1   Dur        float64
 2   Proto      object
 3   SrcAddr    object
 4   Sport      object
 5   Dir        object
 6   DstAddr    object
 7   Dport      object
 8   State      object
 9   sTos       float64
 10  dTos       float64
 11  TotPkts    int64
 12  TotBytes   int64
 13  Label_L2   object
 14  Label_L1   object
dtypes: float64(3), int64(2), object(10)
memory usage: 624.9+ MB

In [ ]:
for _df in dfs:
  del _df
del dfs
del before
del after
del df_nor
del df_mal
del df_nor_labeled

In [27]:
# https://www.tutorialsbuddy.com/convert-ip-to-integer-and-integer-to-ip-in-python
def ip_to_integer(string_ip):
    try:
        if type(ipaddress.ip_address(string_ip)) is ipaddress.IPv4Address:
            return int(ipaddress.IPv4Address(string_ip))
        if type(ipaddress.ip_address(string_ip)) is ipaddress.IPv6Address:
            return int(ipaddress.IPv6Address(string_ip))
    except Exception as e:
        return -1

def ip_to_num(string_ip):
  ip_num = ip_to_integer(string_ip)
  try:
    return math.log2(ip_num)
  except:
    return ip_num

In [28]:
def port_to_num(port):
  try:
    return int(port)
  except:
    return int(port , 16)

In [29]:
def _strip(x):
  try:
    return x.strip()
  except:
    return np.nan

In [30]:
def fix_Labels(label):
  try:
    if "Normal" in label:
      return "Normal"
    if "Background" in label:
      return "Background"
    if "Botnet" in label:
      return "Botnet"
  except:
    return np.nan

In [ ]:
df.SrcAddr = df.SrcAddr.apply(ip_to_num)
df.DstAddr = df.DstAddr.apply(ip_to_num)
df.Sport = df.Sport.fillna(-1).apply(port_to_num)
df.Dport = df.Dport.fillna(-1).apply(port_to_num)
df.State = df.State.apply(_strip)
df.Proto = df.Proto.apply(_strip)
df.Dir = df.Dir.apply(_strip)
df.Label_L2 = df.Label_L2.apply(fix_Labels)

In [35]:
df

,StartTime,Dur,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,dTos,TotPkts,TotBytes,Label_L2,Label_L1
0,1970/01/03 00:01:12.533562,3599.932129,udp,27.321933,34862,<->,31.739984,40009,CON,0.0,0.0,4,723,NaN,Infected
1,1970/01/03 00:01:12.533694,0.162100,udp,27.321933,34862,<->,30.000360,40009,CON,0.0,0.0,2,149,NaN,Infected
2,1970/01/03 00:01:12.645036,3599.908447,udp,27.321933,34862,<->,31.296602,40009,CON,0.0,0.0,3,637,NaN,Infected
3,1970/01/03 00:01:12.802334,0.017858,udp,27.321933,52201,<->,27.005647,53,CON,0.0,0.0,2,156,NaN,Infected
4,1970/01/03 00:01:12.967362,32.908337,tcp,27.321933,54211,->,31.559546,80,SRPA_SPA,0.0,0.0,8,1077,NaN,Infected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5460760,2013/12/17 22:30:39.275567,0.030179,udp,27.321928,47172,<->,27.005647,53,CON,0.0,0.0,2,221,Normal,Normal
5460761,2013/12/17 22:30:39.306492,0.033140,udp,27.321928,58259,<->,27.005647,53,CON,0.0,0.0,2,222,Normal,Normal
5460762,2013/12/17 22:30:39.339992,0.201741,udp,27.321928,53480,<->,27.005647,53,CON,0.0,0.0,2,240,Normal,Normal
5460763,2013/12/17 22:30:39.662244,1.145975,tcp,27.321928,54049,->,24.180652,13690,FSPA_FSA,0.0,0.0,7,546,Normal,Normal
5460764,2016/08/29 14:18:37.945042,4.049113,man,-1.000000,0,NaN,-1.000000,1,STP,NaN,NaN,0,41890684,NaN,Normal

In [44]:
df.isna().sum()

StartTime          0
Dur                0
Proto              0
SrcAddr            0
Sport              0
Dir                0
DstAddr            0
Dport              0
State              0
sTos           23864
dTos         3737468
TotPkts            0
TotBytes           0
Label_L2       28216
Label_L1           0
dtype: int64

In [40]:
df.dropna(subset= ["Dir"] , inplace = True)

In [ ]:
df.drop(['StartTime'] , axis = 1 , inplace = True )